body {
    width: 55vw;
    height: 100vh;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}

#mainHeader {
    font-size: 42px;
}

#headerButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#headerButton button {
    font-family: 'Roboto', sans-serif;
    height: 50px;
    padding: 0 10px 0 10px;
    border-radius: 10px;
}

button:focus {
    outline: none;
}

#headerButton button {
    font-family: 'Roboto', sans-serif;

    height: 60px;


    border-radius: 10px;
}

.loadingCity, .loadingOtherCity {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid red;*/
}

.loadingCity p, .loadingOtherCity {
    font-size: 56px;
    text-align: center;
}

.loadingOtherCity {
    font-size: 24px;
}

.loadingCity button, .loadingOtherCity button {
    width: 100px;
    height: 100px;
    background-image: url("image/reload.svg");
    border-radius: 10px;
}

.loadingOtherCity button {
    width: 50px;
    height: 50px;
}

.cities {
    display: grid;
}
.templateCity {
    display: grid;
}

.templateLoading {
    display: grid;
}

.city, .cities, .templateCity, .templateCity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 40px;
}

h2 {
    font-size: 32px;
    margin-top: 30px;
}

#currentCityImgTemp {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

#currentCity h2 {
    margin: 0;
}

#currentCityImgTemp img {
    width: 165px;
    margin-right: 50px;
}

#currentCityImgTemp p {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.cityList {
    list-style-type: none;
    padding-left: 0;
}

.list {
    padding: 0;
}

.list li {
    display: flex;
    justify-content: space-between;
    background: lightgrey;
    margin-bottom: 5px;

    border-radius: 10px;

    padding: 0 5px 0 5px;
}

#newCity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input {
    border: 1px solid darkgray;

    height: 60px;
    width: 200px;

    border-radius: 10px;

    padding-left: 20px;

    margin-right: 20px;
}

button {
    border: none;
    background: lightgrey;
    cursor: pointer;
}

#newCity button, .headerCity button {
    height: 50px;
    width: 50px;
    font-size: 18px;
    font-weight: bold;
    background: black;
    color: white;
    border-radius: 50%;
}

.headerCity {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    font-size: 24px;
    margin: 0;
}

.headerCity img {
    height: 60px;
    width: 60px;
}

.headerCity p {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

@media (max-width: 1200px) {
    body {
        width: 80vw;
    }
}

@media (max-width: 1000px) {
    #currentCityImgTemp img {
        width: 150px;
        margin-right: 30px;
    }

    #currentCityImgTemp p {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .city, .cities {
        grid-template-columns: 1fr;
    }

    #mainHeader {
        font-size: 30px;
    }

    #headerButton button {
        width: 50px;
        height: 50px;
        background-image: url("image/reload.svg");
        font-size: 0;
    }

    #currentCityImgTemp {
        margin-top: 20px;
    }

    #currentCityImgTemp img {
        width: 180px;
    }

    #currentCityImgTemp p {
        font-size: 60px;
    }

    h2 {
        font-size: 28px;
    }

    #newCity {
        justify-content: space-between;
    }

    input {
        width: calc(80vw - 110px);
        margin-right: 0;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 14px;
    }

    #currentCityImgTemp img {
        width: 120px;
    }

    #currentCityImgTemp p {
        font-size: 36px;
    }

    #mainHeader {
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
    }

    .headerCity p {
        font-size: 20px;
    }

    .headerCity img {
        width: 30px;
    }

    input {
        width: calc(80vw - 70px);
        padding: 1px;
        margin-right: 0;
    }

    .headerCity button, #newCity button {
        width: 40px;
        height: 40px;
    }
}




